<div class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/images/testimonial-2.jpg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Name : <span>annath</span></h5>
                                <h5 class="card-title">Profile : <span>friend end developer</span></h5>
                                <h5 class="card-title">Email : <span>pananthakumar99@gmail.com</span></h5>
                                <h5 class="card-title">Phone : <span>+91-8883446156</span></h5>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="skills">
                    <p class="title-s">Skill</p>
                    <span>HTML</span> <span class="pull-right">85%</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>CSS</span> <span>70%</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 70%;"></div>
                    </div>
                    <span>PHP</span> <span class="pull-right">50%</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span>90%</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 90%;"></div>
                    </div>
                </div>

            </div>
            <div class="col-6 sec-2">
                <h1>About me</h1>
                <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Curabitur arcu erat, accumsan id
                    imperdiet et, porttitor at sem. Praesent sapien massa, convallis a pellentesque nec, egestas non
                    nisi. Nulla porttitor accumsan tincidunt.</p>
                <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis
                    porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. porttitor
                    at sem.</p>
                <p>Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                    Nulla porttitor accumsan tincidunt. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
            </div>
        </div>
    </div>
</div>